extends layout

block content
	h1= title

	div.t-gallery(
		ng-app="TGallery"
		ng-controller="GalleryCtrl"
	)

		//- div.cover(
		//- 	ng-click="openGallery"
		//- )
		//- 	img(
		//- 		ng-src="uploads/g3/wallpaper_tomb_raider_legend_01_1280.jpg"
		//- 	)

		//- 	ul.cover-els
		//- 		li.cover-el(
		//- 			class="{{'cover-el-'+$index}}"
		//- 			ng-repeat="info in albumInfo"
		//- 		)
		//- 			span.glyphicon(
		//- 				 class="{{info.icon}}"
		//- 			)
		//- 			span.label {{info.label}}

		//- 	div.open-btn(
		//- 		ng-click="openGallery()"
		//- 	)
		//- 		span.glyphicon.glyphicon-fullscreen

		div.popup(
			t-popup
		)
			div.popup-content(
				t-gallery
			)

		//- ul.thumbs
		//- 	li.thumb(
		//- 		ng-repeat="me in mediaElements"
		//- 		th-thumb="{{me.thumbImg.idx}}"
		//- 	)
				

	//- .T_gallery

