/* line 1, ../../client_src/sass/_cover.sass */
.T_gallery .cover {
  position: relative;
  width: 600px;
  height: 450px;
  cursor: pointer;
}
/* line 11, ../../client_src/sass/_cover.sass */
.T_gallery .cover img {
  max-width: 600px;
  max-height: 450px;
}
/* line 15, ../../client_src/sass/_cover.sass */
.T_gallery .cover .open-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 40px;
  line-height: 40px;
  margin-top: -25px;
  margin-left: -20px;
  color: white;
  opacity: 0;
  text-shadow: 0 0 5px #333333;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
/* line 28, ../../client_src/sass/_cover.sass */
.T_gallery .cover ul.cover-els {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin-top: 15px;
}
/* line 35, ../../client_src/sass/_cover.sass */
.T_gallery .cover ul.cover-els li.cover-el {
  position: relative;
  display: block;
  list-style: none;
  background: rgba(255, 255, 255, 0.5);
  color: white;
  padding: 5px 20px;
  text-shadow: 0 0 7px #333333;
  z-index: 1001;
  margin-bottom: 15px;
  overflow: hidden;
  *zoom: 1;
  opacity: 0;
  -webkit-transform:  translateX(150px);
  -moz-transform:  translateX(150px);
  -ms-transform:  translateX(150px);
  -o-transform:  translateX(150px);
  transform:  translateX(150px);
}
/* line 50, ../../client_src/sass/_cover.sass */
.T_gallery .cover ul.cover-els li.cover-el:last-child {
  margin-bottom: 0;
}
/* line 53, ../../client_src/sass/_cover.sass */
.T_gallery .cover ul.cover-els li.cover-el .glyphicon {
  float: left;
  font-size: 15px;
}
/* line 57, ../../client_src/sass/_cover.sass */
.T_gallery .cover ul.cover-els li.cover-el .label {
  float: left;
  padding: 0 0 0 10px;
  line-height: 20px;
  font-size: 15px;
  font-weight: normal;
}
/* line 69, ../../client_src/sass/_cover.sass */
.T_gallery .cover ul.cover-els li.cover-el.cover-el-0 {
  -webkit-transition: all 0.15s linear;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.15s linear 0s;
  -o-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
}
/* line 69, ../../client_src/sass/_cover.sass */
.T_gallery .cover ul.cover-els li.cover-el.cover-el-1 {
  -webkit-transition: all 0.15s linear;
  -webkit-transition-delay: 0.08s;
  -moz-transition: all 0.15s linear 0.08s;
  -o-transition: all 0.15s linear 0.08s;
  transition: all 0.15s linear 0.08s;
}
/* line 69, ../../client_src/sass/_cover.sass */
.T_gallery .cover ul.cover-els li.cover-el.cover-el-2 {
  -webkit-transition: all 0.15s linear;
  -webkit-transition-delay: 0.16s;
  -moz-transition: all 0.15s linear 0.16s;
  -o-transition: all 0.15s linear 0.16s;
  transition: all 0.15s linear 0.16s;
}
/* line 69, ../../client_src/sass/_cover.sass */
.T_gallery .cover ul.cover-els li.cover-el.cover-el-3 {
  -webkit-transition: all 0.15s linear;
  -webkit-transition-delay: 0.24s;
  -moz-transition: all 0.15s linear 0.24s;
  -o-transition: all 0.15s linear 0.24s;
  transition: all 0.15s linear 0.24s;
}
/* line 69, ../../client_src/sass/_cover.sass */
.T_gallery .cover ul.cover-els li.cover-el.cover-el-4 {
  -webkit-transition: all 0.15s linear;
  -webkit-transition-delay: 0.32s;
  -moz-transition: all 0.15s linear 0.32s;
  -o-transition: all 0.15s linear 0.32s;
  transition: all 0.15s linear 0.32s;
}
/* line 76, ../../client_src/sass/_cover.sass */
.T_gallery .cover:hover ul.cover-els li.cover-el {
  opacity: 1;
  -webkit-transform:  translateX(0);
  -moz-transform:  translateX(0);
  -ms-transform:  translateX(0);
  -o-transform:  translateX(0);
  transform:  translateX(0);
}
/* line 80, ../../client_src/sass/_cover.sass */
.T_gallery .cover:hover .open-btn {
  opacity: 1;
}
/* line 84, ../../client_src/sass/_cover.sass */
.T_gallery .cover:active .open-btn {
  color: red;
  -webkit-transform:  scale(1.2, 1.2);
  -moz-transform:  scale(1.2, 1.2);
  -ms-transform:  scale(1.2, 1.2);
  -o-transform:  scale(1.2, 1.2);
  transform:  scale(1.2, 1.2);
}
/* line 18, ../../client_src/sass/main.sass */
.T_gallery .dialog {
  width: 1000px;
  height: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  background: red;
  z-index: 1010;
}
