@import "compass/css3/box-shadow"
@import "compass/css3/text-shadow"
@import "compass/css3/images"
@import "compass/css3/transform"
@import "compass/css3/transition"
@import "compass/utilities/general/clearfix"


.t-gallery

	$aniDuration : 0.15s !default
	$shadowColor : #333 !default
	$activeColor : red !default
	$stageW : 800px
	$stageH : 450px

	@import 'cover'

	.gallery-cntr
		width : 100%
		height : $stageH
		overflow : hidden
		+box-shadow( 0 0 1px $shadowColor )

		.sidebarRight
			float : right
			opacity : 1
			@import "thumbs"
			z-index: 999
			+transition( all $aniDuration linear )
			+translateX(0)
			&.veil
				opacity : 0
				+translateX(160px)


		.sidebarLeft
			float : left
			opacity : 1
			@import "galleries"
			z-index: 999
			+transition( all $aniDuration linear )
			+translateX(0)
			&.veil
				opacity : 0
				+translateX(-160px)

		.stage
			height : $stageH
			width : 100%
			position: relative
			z-index: 998
			img
				position : absolute
				opacity : 1
				+transition( all $aniDuration linear )

				&.veilin
					opacity : 0
					+simple-transform( $scale : 0.8 )

				&.veilout
					opacity : 0
					+simple-transform( $scale : 1.2 )

	.control
		width : 100%
		text-align : center
		padding : 5px 0

		.btn.active
			color : #ebebeb
			background-color: #333

		.progress
			height : 6px
			margin-bottom : 5px
			background : none
			+box-shadow(none)

			.progress-bar
				+transition( none)

			.progress-bar-success
				background-color : $shadowColor 



	@import "vslider"

	.dialog
		width : 1000px
		height : 1000px
		position : absolute
		left : 0
		top : 0
		background : rgba(120, 120, 120, 0.5)
		z-index : 1010





// .T_gallery
		

// .T-gallery
// 	$stageHeight : 450px
	

// 	background : white
// 	height : $stageHeight
// 	overflow : hidden
// 	border : 1px solid #efefef

// 	.sidebarRight
// 		float : right
// 		@import "thumbs.sass"

// 	.sidebarLeft
// 		float : left
// 		@import "galleries.sass"

// 	.stage
// 		line-height : $stageHeight
// 		text-align : center
// 		img
// 			max-width : 400px
// 			display : inline

// 	@import "vslider.sass"